<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bolt - Settings Page</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/shared.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default">
		<a href="/home" class="navbar-text">< Back</a>
		<h1 class="navbar-text">Settings</h1>
	</nav>

	<div class="container">
        <form>
            <div id="playlist-selector">
                <label for="playlist">Select a playlist to listen to during your run:</label>
                <select name="playlist" id="playlist">
                    {{#each settings.possiblePlaylist}}
                        {{#if selected}}
                            <option value="{{name}}" selected="">{{name}}</option>
                        {{else}}
                            <option value="{{name}}">{{name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
            <br>
            <div id="hype-selector">
                <label for="hype">Choose a specific hype song for added motivation:</label>
                <select name="hype" id="hype">
                {{#each settings.possibleHype}}
                    {{#if selected}}
                        <option value="{{name}}" selected="">{{name}}</option>
                    {{else}}
                        <option value="{{name}}">{{name}}</option>
                    {{/if}}
                {{/each}}
                </select>
            </div>
            <br>
            <div id="audio-feedback">
            {{#each settings.audio_feedback}}
                {{#if selected}}
                    <input type="checkbox" id="{{@key}}" name="{{@key}}" checked="">
                {{else}}
                    <input type="checkbox" id="{{@key}}" name="{{@key}}">
                {{/if}}
                <label for="{{@key}}">{{description}}</label>
                <br>
            {{/each}}
            </div>
            <br>
            <div id="metric-selection">
                <label for="distance">Select miles or kilometers for Bolt to track your distance</label>
                <select name="distance" id="distance">
                {{#each settings.metric}}
                    {{#if this}}
                        <option value="{{@key}}" selected="">{{@key}}</option>
                    {{else}}
                        <option value="{{@key}}">{{@key}}</option>
                    {{/if}}
                {{/each}}
                </select>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Save</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" onclick="location.replace('../home');" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>
